html,
body {
  font-family: "Press Start 2P", cursive;
  font-size: 13px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  text-align: center;

  /* Background */
  background-color: black;
  background-size: cover;
  background-position: center;
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}
 
/* Hide scrollbars in WebKit browsers (Chrome, Safari, Opera) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.container2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent dark overlay */
  z-index: 1; /* Put it behind your main content if needed */
}


.container {
  width: 860px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto;
}

.container:hover {
  border: 2px solid transparent;
  box-shadow: 
    0 0 60px 20px #FF0000,
    0 0 80px 30px #0000FF;
  transition: all 0.4s ease;
}

/* WebKit Scrollbar Styling */
.container::-webkit-scrollbar {
  width: 6px;
  background-color: #222;
}
.container::-webkit-scrollbar-track {
  background-color: #222;
  border-radius: 10px;
}
.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
}
.container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



/* Loader styles */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black with 50% opacity */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
transition: all 1s ease;
}
#loader h1 {
  font-size: 85px;
  margin: 0;
}

#loader span {
  color: red;
}

#loader p {
  font-size: 20px;
  margin-top: 1px;
}

.loader {
  width: 80px;
  height: 80px;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-top: 10px solid #ffffff;
  border-radius: 50%;
  animation: spin 1.0s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.proxy-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  overflow-y: auto;
  max-height: 300px;
}

.proxy-button {
  position: relative;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.proxy-button:hover {
  transform: translateY(-20%) scale(1.1);
  transition: 0.3s ease;
}
.proxy-button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 400% 400%;
  z-index: -1;
  animation: rainbow 5s linear infinite;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.proxy-button:hover::before {
  opacity: 1;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* Sidebar styling */

.top-nav {
  position: fixed;
  top: 1px; /* Adjust as needed */
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  box-sizing: border-box;
}
.top-nav .logo {
 background: linear-gradient(0deg, #FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
  font-size: 25px;
}
.top-nav .logo:hover {
    transform: translateY(-20%) scale(1.05);
    transition: all 0.3s ease;
}
.top-nav > *:not(:first-child) {
  margin-left: 30px; /* Add 20px left margin to all direct children except the first */
}

.top-nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease; /* Ensure transitions apply */
  display: inline-block; /* Needed for transform to work properly */
}

.top-nav ul li a:hover {
  transform: translateY(-20%) scale(1.05);
  background: linear-gradient(0deg, #FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
}
/* Push content down so it's not hidden under fixed nav */

.content {
  margin-top: 80px;
}
h1 {
  font-size: 36px;
  margin-bottom: 20px; /* Adds space below h1 */
}

h2 {
  font-size: 20px;
  line-height: 1.5; /* Increases spacing between lines */
  margin-top: 10px; /* Adds space above h2 */
}
p {
    line-height: 1.5; /* Increases spacing between lines */
  margin-top: 10px; /* Adds space above h2 */
}

.highlight2 {
  background: linear-gradient(0deg, #FF0000, #0000FF);
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Highlight styles */
.highlight {
  background: linear-gradient(
    90deg,
    #ff0000 0%,
    #ff7f00 16.66%,
    #ffff00 33.33%,
    #00ff00 50%,
    #0000ff 66.66%,
    #4b0082 83.33%,
    #8b00ff 100%
  );
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Time and Battery Section */
.time,
.battery {
  font-size: 2em;
  margin: 10px 0;
}

.battery {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.battery-icon {
  width: 20px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 3px;
  margin-right: 5px;
  position: relative;
}

.battery-icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translateY(-50%);
}

.battery-fill {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.3s ease;
}

/* Hamburger button */
.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 45px; /* Adjust size of the circle */
  height: 45px; /* Same as width to make it a perfect circle */
  background: linear-gradient(
    0deg,
    #ff0000,
    #0000ff
  ); /* Background color of the circle */
  border: none;
  border-radius: 50%; /* Makes the button circular */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  padding: 8px; /* Add padding to make lines fit nicely inside the circle */
}


/* Add this to your existing styles */
.content.blur {
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent black */
  transition: background-color 0.3s ease;
  pointer-events: none; /* optional: allows clicks through */
}
input {
  padding: 20px;
  width: 550px;
  border-radius: 5px;
  background: white;
  text-align: center;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  transition: 0.4s;
}
.column {
   width: 145px;
   transition: all 0.2s ease;
   cursor: pointer;
   background-color: black;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   margin: 0;
}

.column img {
   position: absolute;
   width: 145px;
   height: 145px;
   border-radius: 0px;
   transition: all 0.2s ease;
   border-radius: 10px;
}

.column p {
   width: 145px;
   height: 19px;
   font-style: normal;
   font-weight: 800;
   font-size: 15px;
   line-height: 19px;
   text-align: center;
   color: var(--text-primary);
   text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
   padding-top: 136px;
   padding-bottom: 12px;
}

.column:hover {
    transform: translateY(-5%);
}

.column:hover .label {
   transform: translateX(-50%) scale(1.3);
}

.apps {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2.3em;
   flex-direction: row;
   margin-top: 30px;
}

.pinned {
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2.3em;
}

input {
   padding: 20px;
   width: 550px;
   border-radius: 5px;
   background: var(--background-column);
   text-align: center;
   font-size: 20px;
   border: none;
   outline: none;
   color: var(--text-primary);
   transition: 0.4s;
}

select {
   padding: 20px;
   border-radius: 5px;
   background: var(--background-column);
   color: var(--text-primary);
   font-size: 20px;
   border: 0px;
   outline: none;
   cursor: pointer;
}

.input-c {
   position: relative;
   margin-top: 150px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 0.5em;
}
.search-container {
   display: flex;
   width: 100%;
   text-align: center;
   justify-content: center;
   align-items: center;

}

.search-home {
   width: 50vw;
   height: 5vh;
   font-family: 'Press Start 2P', cursive;
   font-size: 16px;
   box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   background: rgba(0, 0, 0, 0.35);
   border: 2px solid white;
}
.search-home:hover {
    border: 2px solid transparent;
  background: rgba(255, 255, 255, 0.05);
}
.search-home:focus {
     border: 2px solid transparent;
  background: rgba(0, 0, 0, 0.6);
    box-shadow: 
    0 0 20px 8px #FF0000,   /* Intense red inner glow */
    0 0 35px 10px #0000FF; /* Strong blue outer glow */
}
#iv::placeholder {
  color: gray;
  opacity: 1;
}
.key-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  overflow-y: auto;
  max-height: 300px;
}

.key-button {
  font-family: 'Press Start 2P', cursive;
  position: relative;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  text-decoration: underline;
}
.key-button:hover {
  transform: translateY(-20%) scale(1.1);
  transition: 0.3s ease;
}
.key-button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 400% 400%;
  z-index: -1;
  animation: rainbow 5s linear infinite;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.key-button:hover::before {
  opacity: 1;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.select-wrapper {
  position: relative;
  display: inline-block;
}

select {
  font-family: 'Press Start 2P', cursive;
  position: relative;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  text-decoration: underline;
}

.select-wrapper::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 400% 400%;
  z-index: -1;
  animation: rainbow 5s linear infinite;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.select-wrapper:hover::before {
  opacity: 1;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.settings-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 20% 20px 20px 20px;
}
.settings-card {
   background: rgba(255, 255, 255, 0.05);
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 815px;
   transition: all 0.3s ease;
   border: 2px solid white;
}